
<section id="about" class="about section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda<br></h2>
        <p><span>Daha Fazla</span> <span class="description-title">Bilgi Edinin</span></p>
    </div>

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="/yummy-red-1.0.0/assets/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Masa Rezervasyonu</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Yılların deneyimi ve tutkuyla bir araya gelen ekibimizle, sizlere unutulmaz bir yemek deneyimi sunmak için buradayız.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>En taze ve kaliteli malzemelerle hazırlanan yemekler.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Usta şeflerimizin özenle hazırladığı özel tarifler.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Sıcak ve samimi ortamımızda aileniz ve sevdiklerinizle keyifli vakit geçirin.</span></li>
                    </ul>
                    <p>
                        Misafir memnuniyeti odaklı hizmet anlayışımızla, her ziyaretinizde sizi en iyi şekilde ağırlamak için çalışıyoruz.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="/yummy-red-1.0.0/assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
