@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    @await Component.InvokeAsync("AdminLayoutHeadComponentPartial")
</head>
<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            @await Component.InvokeAsync("AdminLayoutNavbarComponentPartial")
            @await Component.InvokeAsync("AdminLayoutSidebarComponentPartial")
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        @RenderBody()
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="templateshub.net">Templateshub</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    @await Component.InvokeAsync("AdminLayoutScriptComponentPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
