<footer id="footer" class="footer dark-background">

    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Adres</h4>
                    <p>Örnek Mahallesi, Restoran Sokak No:1</p>
                    <p>İstanbul</p>
                    <p></p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>İletişim</h4>
                    <p>
                        <strong>Telefon:</strong> <span>+1 5589 55488 55</span><br>
                        <strong>E-posta:</strong> <span>info@example.com</span><br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Çalışma Saatleri</h4>
                    <p>
                        <strong>Pzt-Cum:</strong> <span>11:00 - 23:00</span><br>
                        <strong>Pazar</strong>: <span>Kapalı</span>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4>Bizi Takip Edin</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Telif Hakkı</span> <strong class="px-1 sitename">Yummy</strong> <span>Tüm Hakları Saklıdır</span></p>
        <div class="credits">
            Tasarım: <a href="https://bootstrapmade.com/">BootstrapMade</a> | Dağıtım: <a href="https://themewagon.com">ThemeWagon</a>
        </div>
    </div>

</footer>
