<!-- Events Section -->
<section id="events" class="events section">

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 3,
                      "spaceBetween": 1
                    }
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-1.jpg)">
<h3>Özel Partiler</h3>
                            <div class="price align-self-start">₺2999</div>
                            <p class="description">
                                Özel günleriniz için mekanımızı kiralayın. Doğum günü, yıldönümü ve özel kutlamalarınız için hizmetinizdeyiz.
                            </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-2.jpg)">
<h3>Özel Davetler</h3>
                            <div class="price align-self-start">₺5999</div>
                            <p class="description">
                                İş toplantıları ve özel davetleriniz için kapalı mekan. Özel menü ve hizmet seçenekleri.
                            </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-3.jpg)">
<h3>Doğum Günü Partileri</h3>
                            <div class="price align-self-start">₺8999</div>
                            <p class="description">
                                Unutulmaz doğum günü kutlamaları için özel paketler. Pasta, süsleme ve özel menü dahil.
                            </p>
                </div><!-- End Event item -->

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/yummy-red-1.0.0/assets/img/events-4.jpg)">
<h3>Düğün Organizasyonları</h3>
                            <div class="price align-self-start">₺19999</div>
                            <p class="description">
                                Düğün ve nişan organizasyonlarınız için tam hizmet. Mekan, yemek ve dekorasyon çözümleri.
                            </p>
                </div><!-- End Event item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Events Section -->
